pycurl==7.45.3
pyparsing==3.1.4
chardet==5.2.0
colorama==0.4.4
wfuzz==3.0.1

google-generativeai==0.2.0
python-dotenv==1.0.0
requests==2.31.0
tqdm==4.66.1
pysansi==0.10.0
grpcio==1.51.3
protobuf==4.25.4

# pip==23.3.1

# install dependencies :
#  pip install -r ..\pyscripts\requirements.txt --user

